body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
}
 
button {
  color: #00B7FF; 
}

a{
  color: #00B7FF;
}

h1{
  font-size:80px;
  color: antiquewhite;
}

.container{
  display:flex;
  flex-direction: column;
  width: 30vw;
  justify-content: end;
  margin-right: -50vw;
  margin-top: -30vh;
}

.backg{
  width: 100vw;
  height: 100vh;
  background-image: url('../images/cinema.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display:flex;
  align-items: center;
  justify-content: center;
}

.backg button{
  text-align: center;
  width: 200px;
  height: 60px;
  border-radius: 30px;
  font-size: 17px;
}

.backg button a{
  text-decoration: none;
  color: rgb(28,110,135);
}

.movies{
  display:flex;
  flex-wrap: wrap;
}

.movie{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 50px;
}

.stars{
  font-weight: bold;
}

.selected-film{
  display:flex;
  flex-direction: row;
  margin-right: 30px;
  margin-left: 30px;
}

.info-film{
  margin-right: 30px;
  margin-left: 50px;
  width: 700px;
}